body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.message-container .messageBody {
  position: relative;
}

.message-container .messageBody.left:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #535457 transparent;
  position: absolute;
  bottom: 0px;
  left: -10px;
}

.message-container .messageBody.left:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #535457;
  position: absolute;
  bottom: 0;
  left: 0;
}

.message-container .messageBody.right:before {
  content: '';
  width: 10px;
  height: 10px;
  background: #9ccd20;
  position: absolute;
  bottom: 0;
  right: 0;
}

.message-container .messageBody.right:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #9ccd21;
  position: absolute;
  bottom: 0px;
  right: -10px;
}

td {
  box-sizing: border-box;
}

#root > div > div > div > div > div{
  height: auto!important;
}
